<html>
<head>
    <meta charset="utf-8">
    <title>geek alert</title>
</head>
<body>
    <h1>geek alert: create</h1>
    <form action="/store" method="POST">
        <p>label: <input type="text" name="label" value=""></p>
        <p>その話題...<input type="text" name="msg" value="">かも...  (10文字まで)</p>
        <p><input type="submit" value="追加"></p>
    </form>

</body>
</html>