<html>
<head>
    <meta charset="utf-8">
    <title>geek alert</title>
</head>
<body>
    <h1>geek alert</h1>
    <a href="/create">追加</a>
    {{ range . }}
    <hr>
    <form action="/alert" method="POST">
        <input type="hidden" name="alertTypeID" value="{{ .ID }}">
        <input type="submit" value="{{ .Label }}">
    </form>
    {{ end }}

</body>
</html>